.feed-main{
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 100vh; */
}
.post-home{
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: auto;

    justify-content: center;
    align-items: center;
}

.single-post{
    /* border-radius: 1px ; */
    border: 2px rgb(48, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    

}
.post{
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.imagePost{
    height: 400px;
    object-fit: cover;
    width: 100%;
}
.name{
    margin-left: 5px;
}
.time{
    margin-right: 5px;
}
.ProfilePhoto{
    margin-left: 2px;
}

.post-wrapper p{
    text-align: left;
}
.post-wrapper{
    padding: 0 10px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 15px 10px;
}

.comment-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
    margin-bottom: 10px;
}

.single-comment {
    text-align: left;
}
.comment-name {
    margin-right: 20px;
    font-weight: 500;
}
.comment-time {
    font-weight: 300;
    font-size: small;
}
p.comment {
    margin: 5px 0px;
}

.comment-disable-msg{
    padding: 0 10px;
    background-color: none;
    color: brown;
    font-weight: 300;
}

.liked-btn, .disliked-btn {
    font-weight: 800 !important;
    margin-top: -3px !important;
    margin-right: 30px !important;
    
}
.liked-icon, .disliked-icon{
    margin-top: 10px !important;
    font-size: 15px;
}

@media only screen and (max-width: 991px) {
    .post-home{
        width: 80%;
        
    }
}
@media only screen and (max-width: 768px) {
    .post-home{
        width: 90%;
        
    }
}
