
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');



.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./images/mymind-XUlsF9LYeVk-unsplash.jpg");
    background-size: cover;
    background-position: center;

  }
  .logoName{
    margin-top: -10px;
    font-size: 60px;
     font-family: 'Montserrat', sans-serif;
    color: #ff7f50;
  }

  .welcomeBack{
    margin-top: -20px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #060f3c;

  }
  .logoImage{

    width: 50%;
    height: 50px;


  }
  .title-name{

    font-size: 8dvh;
    font-family: sans-serif;
  }
  
  .login-form {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccccccc9;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.888);
  }
  .login-form h2 {
    text-align: center;
    font-family: sans-serif;
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 17px;
    text-align: left;
    font-family: sans-serif;
    /* justify-content: center; */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .inputField{
    width: 100%;
  }
  .errorMessage{
    color: red;
    font-style: italic;
    font-weight: lighter;
    font-size: small;
  }
  .loginButton{

    margin-bottom: 20px;
  }
  /* button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  } */
  .BUTTON-NAME{
    width: 100%;
  }
  .newuser{
    font-family: sans-serif;
  }
  .signup{
    font-weight: bold;
    font-style: italic;
    color: #ff7f50;
    text-decoration: underline;
  }